<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

    <!--<welcome-file-list>-->
        <!--<welcome-file>index.html</welcome-file>-->
        <!--<welcome-file>index.htm</welcome-file>-->
        <!--<welcome-file>index.jsp</welcome-file>-->
        <!--<welcome-file>default.html</welcome-file>-->
        <!--<welcome-file>default.htm</welcome-file>-->
        <!--<welcome-file>default.jsp</welcome-file>-->
    <!--</welcome-file-list>-->

    <!-- Kaptcha验证码配置 -->
    <servlet>
        <servlet-name>Kaptcha</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
        <init-param>
            <param-name>kaptcha.border</param-name>
            <param-value>no</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.border.color</param-name>
            <param-value>105,179,90</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.font.color</param-name>
            <param-value>red</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.obscurificator.impl</param-name>
            <param-value>com.google.code.kaptcha.impl.WaterRipple</param-value>
        </init-param>
        <init-param>
            <!-- String kaptchaExpected = (String) session.getAttribute(com.google.code.kaptcha.Constants.KAPTCHA_SESSION_KEY);
                       必须改成
                      String kaptchaExpected = (String) session.getAttribute("code"); -->
            <param-name>kaptcha.session.key</param-name>
            <param-value>code</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.char.length</param-name>
            <param-value>4</param-value>
        </init-param>
        <init-param>
            <param-name>kaptcha.textproducer.font.names</param-name>
            <param-value>宋体,楷体,微软雅黑</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Kaptcha</servlet-name>
        <url-pattern>/kaptcha</url-pattern>
    </servlet-mapping>

</web-app>